/* Ribbon effect. */
.main-navigation {
	background: url('assets/images/ribbon.png') repeat-x;
	background-size: 16px;
	min-height: 90px;
}

/* Actual menu text */
.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding-left: 0;

	li {
		display: inline-block;
		margin-bottom: 0;
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__tertiary;
		}
	} // li

	a {
		background: none;
		border: none;
		color: $color__text-main;
		display: block;
		@include small-caps;
		font-weight: 400;
		padding: 10px 6px;
		text-shadow: 1px 1px transparentize($color__highlight, 0.5);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__neutral;
	}

	li:hover > ul,
	li.focus > ul {
		left: auto;
	}
} // .main-navigation

// Sub-menus
.main-navigation ul ul {
	background: $color__white;
	border-bottom: 2px solid $color__accent;
	border-top: 1px solid $color__accent;
	font-size: 0.8em;
	line-height: 1.2;

	a {
		border-bottom: 1px solid $color__accent;
		display: block;
		letter-spacing: 0;
		min-width: 200px;
		padding: 10px;
		text-shadow: none;
		text-transform: none;
	}

	li:last-of-type a {
		border-bottom: 0;
	}

	:hover > a,
	.focus > a {
		background-color: $color__highlight;
	}

	a:hover,
	a.focus {
	}
}

// Mobile
@include mobile {
	.main-navigation {
		margin: $size__site-gutter/2 -#{$size__site-gutter/2};
		padding: 8px 0;
		width: 100%;
		width: calc(100% + #{$size__site-gutter});

		&::after {
			display: block;
			content: '';
			background: url('assets/images/ribbon.png') bottom right repeat-x;
			background-size: 16px;
			height: 8px;
		}

		ul {
			background-color: lighten($color__accent, 5%);
		}

		li {
			border-bottom: 1px solid $color__highlight;
			width: 100%;
		}

		.justonetree-split-nav:last-of-type li:last-of-type {
			border-bottom: 0;
		}
	} // .main-navigation

	// Sub-menus
	.main-navigation ul {
		ul {
			border: 0;
			height: 0px;
			overflow: hidden;
		}

		li.focus > ul {
			height: auto;
		}
	} // .main-navigation ul
}

// Tablet up
@include tablet {
	.site {
		overflow-x: hidden; // Prevents horizontal navigation when the ribbon is off-screen.
	}

	.main-navigation {
		margin: 0 4%;
		max-width: 92%;
		position: relative;

		&::before,
		&::after {
			display: block;
			content: '';
			background: url('assets/images/ribbon-end.png') no-repeat;
			background-size: 90px;
			height: 90px;
			position: absolute;
			top: 0;
			width: 90px;
		}

		&::before {
			left: -90px;
		}

		&::after {
			right: -90px;
			transform: scaleX(-1);
		}
	}

	// Sub-menu flyouts
	.main-navigation ul ul {
		@include box-shadow();
		border-top: 0.5px solid $color__text-main;
		position: absolute;
		text-align: left;
		top: 2.75em;
		left: -999em;
		z-index: 99999;

		ul {
			left: -999em;
			top: 0;
		}

		li {
			margin-bottom: 0;

			&:hover > ul,
			&.focus > ul {
				left: 100%;
			}
		}

		/* This is just here to make it easier to scroll down to the drop-down without losing focus */
		&::after {
			content: '';
			display: block;
			height: 20px;
			position: absolute;
				top: -10px;
				left: 0;
			width: 100%;
		}
	} // .main-navigation ul ul

	// Split navigation into two sections, floated around logo.
	.main-navigation .nav-menu {
		margin: 0 -30px;
	}

	.justonetree-split-nav {
		display: inline-block;
		margin-top: 10px;
		width: 50%;

		&:first-of-type {
			padding-right: 50px;
			text-align: right;
		}

		&:last-of-type {
			padding-left: 50px;
			text-align: left;
		}
	} // .justonetree-split-nav

} // tablet styles

// Space things out a bit more for desktops
@include desktop {

	.main-navigation ul a {
		padding: 10px 12px;

		.hide {
			display: inline;
		}
	}

	.justonetree-split-nav {

		&:first-of-type {
			padding-right: 80px;
		}

		&:last-of-type {
			padding-left: 80px;
		}
	} // .justonetree-split-nav
}

// Hide menu toggle, at least for now.
.menu-toggle {
	display: none;
}
