.main-navigation {
	background: url('assets/images/ribbon.png') repeat-x;
	background-size: 20px;
	min-height: 89px;
	position: relative;
	z-index: 5;

	&::before,
	&::after {
		display: block;
		content: '';
		background: url('assets/images/ribbon-end.png') no-repeat;
		background-size: 105px;
		height: 90px;
		position: absolute;
		top: 0;
		width: 105px;
	}

	&::before {
		left: -105px;
	}

	&::after {
		right: -105px;
		transform: scaleX(-1);
	}

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;

  	li {
  		display: inline-block;
  		position: relative;

  		&:hover > a,
  		&.focus > a {
  		}
  	} // li

  	a {
  		display: block;
  		color: $color__text-main;
  		font-size: 0.9rem;
  		font-weight: 400;
  		text-decoration: none;
  		padding: 3px 11px;
  	}

  	.current_page_item > a,
  	.current-menu-item > a,
  	.current_page_ancestor > a,
  	.current-menu-ancestor > a {
  	}

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
} // .main-navigation

// Sub-menus
.main-navigation ul ul {
  background: $color__white;
  border-bottom: 2px solid $color__accent;
  border-top: 1px solid $color__accent;
  float: left;
  font-size: 0.8em;
  line-height: 1.2;
  position: absolute;
  text-align: left;
  top: 1.75em;
  left: -999em;
  z-index: 99999;

  ul {
    left: -999em;
    top: 0;
  }

  li {
    &:hover > ul,
    &.focus > ul {
      left: 100%;
    }
  }

  a {
    border-bottom: 1px solid $color__accent;
    width: 200px;
  }

  li:last-of-type a {
    border-bottom: 0;
  }

  :hover > a,
  .focus > a {
  }

  a:hover,
  a.focus {
  }
}

// Float navs around logo
.justonetree-split-nav {
  display: inline-block;
  margin-top: 12px;
  width: 50%;

  &:first-of-type {
    padding-right: 60px;
    text-align: right;
  }

  &:last-of-type {
    padding-left: 60px;
    text-align: left;
  }
}



// More menu (used for priority+ pattern)
#more-menu {
  display: none;
}

#more-menu.visible {
  display: inline-block;
}

#more-menu .easy-as-svg-icon-more {
  height: 16px;
  vertical-align: -3px;
  width: 16px;
}
