.justonetree-sponsor-logos {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: $size__site-gutter auto;
	max-width: $size__site-width;

	a {
		border: none;

		&:hover {
			background: none;
		}
	}

	.sponsor {
		flex-basis: 150px;
		margin: $size__site-gutter $size__site-gutter/2;
		text-align: center;

		img {
			height: auto;
			max-height: 50px;
			max-width: 100%;
			width: auto;
		}
	}
}
