$progressBarColour: lighten($color__neutral, 50%);
$progressValueColour: $color__accent;
$progressBarRadius: 0;

.justonetree-treeometer {
	position: relative;
	max-width: 300px;
	margin-top: 100px;
}

.justonetree-treeometer svg {
	position: absolute;
	top: -78px;
	left: -97px;
	width: 184px;
	z-index: -1;
}

// Remove default browser styling.
progress,
progress[value] {
	appearance: none;
}

.progress-bar {
	background-color: $progressBarColour;
	border: 0px solid $color__neutral;
	border-radius: $progressBarRadius;
	transform: rotate(-90deg);
	height: 15px;
	width: 200px;
	transform-origin: bottom left;
	margin-top: 200px;
}

// Should probably convert this to a mixin.
.progress-bar::-moz-progress-bar {
	background: $progressValueColour;
	border-bottom-left-radius: $progressBarRadius;
	border-top-left-radius: $progressBarRadius;
}
.progress-bar::-webkit-progress-bar {
	background: $progressBarColour;
	border-bottom-right-radius: $progressBarRadius;
	border-top-right-radius: $progressBarRadius;
}
.progress-bar::-webkit-progress-value {
	background: $progressValueColour;
	border-bottom-left-radius: $progressBarRadius;
	border-top-left-radius: $progressBarRadius;
}
.progress-bar::-ms-fill {
	background: $progressValueColour;
	border-bottom-left-radius: $progressBarRadius;
	border-top-left-radius: $progressBarRadius;
}

// Fallback for older browsers
.fallback-progress-bar {
	margin-top: 0.95em;
	background-color: $progressBarColour;
	height: 0.3em;
}

.fallback-progress-value {
	background-color: $progressValueColour;
	display: block;
	height: 0.3em;
}

// Text
#justonetree-treeometer-text {
	font-size: 0.8em;
	text-align: center;
	margin: -110px 0 0 20px;
	max-width: 230px;
}

.justonetree-treeometer h3 {
	margin: 5px 0;
}

.justonetree-treeometer .number {
	color: $color__neutral;
}

.justonetree-treeometer p {
	display: none;
}

.justonetree-treeometer .button {
	margin-top: 10px;
}
