.site-footer {
	background: $color__text;
	color: $color__white;
	@include font-size(0.9);
	padding: $size__site-gutter 0;

	&::before,
	&::after {
		background: url('assets/images/dark-scalloped-edge.png') top center repeat-x;
		content: '';
		display: block;
		height: 24px;
	}

	&::before {
		margin-top: -($size__site-gutter*2);
	}

	&::after {
		margin-bottom: -($size__site-gutter*2);
		transform: rotate(180deg);
	}

	a {
		color: $color__white;
	}
}

// Footer widgets
@include tablet {
	.site-footer .widget-area {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $size__site-width;

		.widget {
			flex: 2;
			margin-left: $size__site-gutter*2;
		}
		.widget:first-of-type {
			flex: 3;
			margin-left: 0;
		}
	}
}

.site-footer .widget-area h2 {
	color: $color__highlight;
	font-family: $font__display;
}

// Pull extra
@include tablet {
	.jetpack-social-navigation {
		margin-top: -100px;
	}
}

// Footer menu
#footer-menu {
	ul {
		display: inline;
	}

	li {
		display: inline-block;
	}
}
