.site {
	padding: $size_site-gutter/2;
	margin: 0 auto;
}

@include tablet {
	.site-content {
		margin: 0 auto;
		max-width: $size_site-width;
	}

	.site-content .content-area {
		display: inline-block;
		padding-right: $size_site-gutter;
		vertical-align: top;
		width: $size_site-main - $size_site-sidebar;
	}

	.site-content .widget-area {
		display: inline-block;
		margin-left: -5px;
		padding-left: $size_site-gutter;
		vertical-align: top;
		width: $size_site-sidebar;
	}
}

.site-footer {
	clear: both;
	width: 100%;

	div {
		margin: 0 auto;
		max-width: $size_site-width;
	}
}
