.site {
  padding: $size_site-gutter/2;
  margin: 0 auto;
  max-width: $size_site-width;
}

@include tablet {
  .content-area {
  	float: left;
  	margin: 0 (-$size_site-sidebar) 0 0;
  	width: $size_site-main;
  }

  .site-main {
  	margin: 0 $size_site-sidebar 0 0;
  }

  .site-content .widget-area {
  	float: right;
  	overflow: hidden;
  	width: $size_site-sidebar;
  }
}

.site-footer {
	clear: both;
	width: 100%;

  div {
    margin: 0 auto;
    max-width: $size_site-width;
  }
}
