.site {
	padding: $size__site-gutter/2;
	position: relative;
	margin: 0 auto;
	max-width: $size__site-width + 200;
}

@include mobile {
	.site-content .widget-area {
		margin-top: $size__site-gutter*2;
	}
}

@include tablet {
	.site-content {
		margin: 10em auto 0;
		max-width: $size__site-width;
	}

	.site-content .content-area {
		display: inline-block;
		padding-right: $size__site-gutter*2;
		vertical-align: top;
		width: $size__site-main - $size__site-sidebar;
	}

	.site-content .widget-area {
		display: inline-block;
		margin-left: -6px;
		margin-top: $size__site-gutter;
		padding-left: $size__site-gutter*2;
		vertical-align: top;
		width: $size__site-sidebar;
	}
}

.site-footer {
	clear: both;
	width: 100%;

	div {
		margin: 0 auto;
		max-width: $size__site-width;
	}
}

.justonetree-lemon-sprig {
	position: absolute;
	z-index: -1;
	width: 360px;
}

.left-sprig {
	top: -50px;
	left: -30px;
}

.centre-sprig {
	top: -362px;
	left: 44%;
	transform: rotate(-56deg) translate(-50%, 0);
}

.right-sprig {
	right: -30px;
	transform: rotate(-285deg);
	top: -40px;
}
