// Hero headline
.hero-text h2 {
	color: $color__neutral;

	.script {
		color: $color__secondary
	}
}

/* Recent posts widget */
.widget.justonetree-recent-posts {
	font-size: 0.9rem;

	h2 {
		font-family: $font__display;
	}

	ul a {
		color: $color__neutral;
	}
}

/* Arrange hero text and tree-o-meter side-by-side on larger screens. */
@include tablet {
	.intro {
		display: flex;
		justify-content: space-between;
		margin: $size__site-gutter*8 0 0;
	}

	.hero-text {
		flex: 3;
		margin-right: $size__site-gutter*2;
	}

	.justonetree-recent-posts {
		flex: 2;
	}

	.home .justonetree-treeometer {
		margin-left: $size__site-gutter*2;
		flex: 1;
	}

}

/* Take action section */
.take-action {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;

	h2 {
		flex-basis: 100%;

		.main {
			color: $color__neutral;
			@include font-size(1.2);
			font-weight: normal;
			letter-spacing: 1px;
			position: relative;
			text-transform: uppercase;
		}

		.easy-as-svg-icon-fleuron {
			fill: $color__neutral;
			height: 50px;
			position: absolute;
			top: -13px;
			width: 50px;
		}

		.easy-as-svg-icon-fleuron:nth-of-type(1) {
			left: -55px;
		}

		.easy-as-svg-icon-fleuron:nth-of-type(2) {
			right: -55px;
			transform: scaleX(-1);
		}

		.script {
			color: $color__secondary;
			display: block;
			margin-top: 5px;
		}
	}
}

.action-widget {
	flex-basis: 100%;
	padding-top: $size__site-gutter*2;
	padding-bottom: 3em;
	position: relative;

	h3 {
		font-family: $font__display;
		font-size: 200%;
		margin: 0;
	}

	svg {
		max-width: 150px;
	}

	p {
		font-size: 0.85em;
		margin-top: 0;
		padding-bottom: $size__site-gutter/2;
		text-align: left;
	}

	.justonetree-action-button {
		bottom: 2em;
		left: 0;
		right: 0;
		position: absolute;
	}

	@include tablet {
		flex-basis: calc(50% - #{$size__site-gutter});
		width: 50%;
	}

	@include desktop {
		flex-basis: calc(25% - #{$size__site-gutter});
		width: 25%;
	}
}
