.justonetree-hero {
	background: $color__primary;
	border-bottom: 8px solid $color__primary;
	line-height: 1;
	margin: -150px -$size__site-gutter/2 0 -$size__site-gutter/2;
	position: relative;
	text-align: center;
	transform: skewY(-1deg);
	width: 100%;
	width: calc(100% + #{$size__site-gutter});
	z-index: 1;
}

.hero-text {
	color: $color__white;
	margin: -70px 0 100px 0; // todo: Calculate this maybe with JS, or use JS to move inside the hero-text div.
	max-width: 350px;
	position: relative;
	z-index: 5;

	h2 {
		color: $color__highlight;
	}
}

.script {
	font-family: $font__display;
	font-size: 126%;
}

.take-action {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;

	h2 {
		flex-basis: 100%;

		.script {
			color: lighten($color__text, 25%);
			display: block;
		}
	}
}

.action-widget {
	flex-basis: 100%;
	padding-bottom: 3em;
	position: relative;

	h3 {
		font-family: $font__display;
		font-size: 200%;
		margin: 0;
	}

	img {
		max-width: 150px;
	}

	p:not(:last-of-type) {
		text-align: left;
	}

	.button {
		bottom: 2em;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 70%;
	}

	@include tablet {
		flex-basis: calc(50% - #{$size__site-gutter/2});
		width: 50%;
	}

	@include desktop {
		flex-basis: calc(25% - #{$size__site-gutter/2});
		width: 25%;
	}
}
