html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

html {
  background: $color__background-body url('assets/images/tile-me.png');
}

body {
	background: url('assets/images/background.png') repeat-x center -50px;
	background-size: contain;
}

.justonetree-lemon-sprig {
	position: absolute;
	top: -60px;
	left: -20px;
	width: 200px;
	z-index: 10000;
}

@import "masthead";
@import "content-sidebar";
@import "colophon";
@import "../components/sponsors";
@import "../components/treeometer";

/*--------------------------------------------------------------
## Single Column / No Active Sidebar
--------------------------------------------------------------*/
.no-sidebar .site-content {
	margin: 0 auto;
	max-width: $size__site-width;
}

.no-sidebar .content-area {
	padding-right: 0;
	margin: 0 auto;
	text-align: left;
	width: auto;
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages";
@import "front-page";
