#masthead {
	margin: 0 auto;
	max-width: $size__site-width;
	text-align: center;
}

.site-branding {
	display: none;
}

.custom-logo-link {
	display: block;
	margin: 0 auto -140px;
	max-width: 200px;
	position: relative;
	z-index: 6;
}
