#masthead {
	margin: 0 auto;
	max-width: $size__site-width;
	position: relative;
	text-align: center;
}

.main-navigation {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
}

.justonetree-hero {
	width: 100%;
	z-index: 1;

	@include tablet {
		border: 8px solid $color__white;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.125);
		max-width: 90%;
		margin: 2em 5% 0;
	}
}

.site-branding {
	display: none;
}

.custom-logo-link {
	display: block;
	margin: 0 auto;
	max-width: 200px;
	position: relative;
	z-index: 6;

	@include tablet {
		position: absolute;
		bottom: -80px;
		left: 40%;
	}
}
