// Hide hero image on small screens.
.justonetree-hero {
	display: none;
}

.site-branding a:hover {
	background: none;
}

// Logo
.custom-logo-link {
	border: none;
}

// Site title & subtitle.
.site-title,
.site-description {
	line-height: 1.2;
	margin: 0;
	text-align: center;
}

.site-title {
	@include font-size(1.4);
	font-weight: 500;
	text-transform: uppercase;

	a {
		color: $color__primary;
		border: none;
	}

	span {
		color: darken($color__accent, 15%);
	}
}

.site-description {
	color: $color__neutral;
	display: inline-block;
	@include font-size(1.6);
	font-family: $font__display;
	position: relative;

	.easy-as-svg-icon-fleuron {
		fill: $color__neutral;
		height: 45px;
		position: absolute;
		top: -8px;
		width: 45px;
	}

	.easy-as-svg-icon-fleuron:nth-of-type(1) {
		left: -52px;
	}

	.easy-as-svg-icon-fleuron:nth-of-type(2) {
		right: -50px;
		transform: scaleX(-1);
	}
}

// Mobile only bits.
@include mobile {
	.site-branding {
		text-align: center;
	}

	.justonetree-logo {
		max-height: 75px;
	}
}

// We're doing all the tablet and up bits in one block since the whole structure changes!
@include tablet {

	#masthead {
		margin: 0 auto;
		max-width: $size__site-width;
		position: relative;
		text-align: center;
	}

	.justonetree-hero {
		@include box-shadow();
		border: 8px solid lighten($color__white, 2%);
		display: block;
		max-width: 94%;
		margin: 1em 3% 0;
		width: 100%;
		z-index: 1;
	}

	.site-branding {
		display: block;
		margin: 0 auto;
		max-width: 160px;
		position: relative;
		z-index: 6;
		position: absolute;
		bottom: -100px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.justonetree-logo {
		max-width: 100px;
	}

	.justonetree-title-text {
		margin-top: -5px;
	}

	.site-title {
		margin-left: -10%;
		width: 120%;
	}

	.main-navigation {
		position: absolute;
		bottom: -50px;
		left: 0;
		right: 0;
	}
}

@include desktop {

	.site-branding {
		display: block;
		margin: 0 auto;
		max-width: 260px;
		position: relative;
		z-index: 6;
		position: absolute;
		bottom: -140px;
	}

	.justonetree-logo {
		max-width: 150px;
	}

	.site-title {
		@include font-size(1.8);
	}

	.site-description {
		@include font-size(2.1);

		.easy-as-svg-icon-fleuron {
			height: 60px;
			top: -10px;
			width: 50px;
		}

		.easy-as-svg-icon-fleuron:nth-of-type(1) {
			left: -57px;
		}

		.easy-as-svg-icon-fleuron:nth-of-type(2) {
			right: -55px;
		}
	}
}
