.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $size__site-gutter*4;
}

.byline,
.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0;
}

/* Header */
.entry-meta {
	@include small-caps;
	//font-weight: 600;
	line-height: 1.2;

	a {
		color: $color__tertiary;
		border: none;

		&:hover {
			color: $color__primary;
			background: none;
		}
	}

	span::after {
		content: '\ \00B7\ ';
		display: inline;
	}

	span:last-of-type::after {
		display: none;
	}
}

.post-thumbnail a {
	border: none;

	&:hover {
		background: none;
	}
}

.entry-title {
	margin-top: 0;
}
