.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0;
}

/* Header */
.entry-meta {
  a {
    text-decoration: none;
  }
}

.entry-title {
  margin-top: $size-site-gutter/4;
}
