.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0;
}

/* Header */
.entry-meta {
	a {
		border-bottom: 2px solid $color__tertiary;
		color: $color__tertiary;
		font-weight: 500;
		font-size: 0.9rem;
		padding-bottom: $size__site-gutter/4;
		border: none;
  }
}

.post-thumbnail a {
	border: none;

	&:hover {
		background: none;
	}
}

.entry-title {
	margin-top: $size__site-gutter/2;
}
