$color__primary: #78b463;
$color__secondary: lighten($color__primary, 10%);
$color__tertiary: darken($color__primary, 10%);
// $color__accent: complement($color__primary);
$color__accent: #F5D740;
$color__highlight: lighten($color__accent, 20%);
$color__text: #364144;
$color__white: #faf6f1;

$color__background-body: $color__white;
$color__background-screen: $color__white;
$color__background-hr: $color__accent;

$color__background-pre: $color__white;
$color__background-ins: $color__highlight;

$color__text-screen: $color__text;
$color__text-input: $color__text;
$color__text-input-focus: $color__primary;
$color__link: $color__primary;
$color__link-visited: $color__tertiary;
$color__link-hover: $color__accent;
$color__text-main: $color__text;

$color__border-input: #ccc;
$color__border-abbr: #666;
