$font__main: museo-sans, sans-serif;
$font__headings: museo-sans-rounded, sans-serif;
$font__display: spumante, sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
