button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__accent;
	border: 0;
	border-bottom: 4px solid darken($color__accent, 10%);
	border-radius: 5px;
	box-shadow: none;
	color: lighten($color__text-input, 10%);
	@include font-size(1);
	font-family: $font__headings;
	font-weight: 400;
	line-height: 1;
	padding: 0.7rem 2rem;
	text-decoration: none;
	text-shadow: 1px 1px darken($color__highlight, 0%);
	transition: all ease-in-out 50ms;

	&:hover {
		background-color: darken($color__accent, 10%);
		border-color: darken($color__accent, 20%);
		color: darken($color__accent, 20%);
		text-shadow: 1px 1px transparentize($color__white, 0.5);
	}

	&:active,
	&:focus {
		background-color: $color__accent;
		border-color: darken($color__accent, 10%);
	}
}


button.secondary,
.button.secondary {
	background-color: $color__secondary;
	border-bottom-color: $color__primary;
	text-shadow: 1px 1px $color__primary;

	&:hover {
		background-color: $color__primary;
		border-color: darken($color__primary, 10%);
		color: darken($color__primary, 10%);
		text-shadow: 1px 1px transparentize($color__white, 0.6);
	}
}
