label {
	@include small-caps;
	color: $color__neutral;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-transform: none;
	letter-spacing: 0;
	@include font-size(1);
	font-weight: 400;
	color: $color__text-main;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__border-input;
	border: 1px solid $color__border-input;
	border-radius: 0;
	font-size: 1em;
	width: 100%;
	max-width: 500px;

	&:focus {
		color: $color__text-input-focus;
		border-color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__text-input;
	padding: 8px;
	width: 100%;
	max-width: 500px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 8px;
}

textarea {
	padding: 8px;
	width: 100%;
}

/* Styling specific to Gravity Forms */
.gform_body {
	ul {
		margin: 0;
	}

	li {
		margin: 0;
	}

	li::before {
		display: none;
	}
}

.gfield {
	padding: $size__site-gutter/2 0;
}

input[type="radio"] + label {
	margin-left: 5px;
}

.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container,
.gfield_visibility_hidden {
	display: none;
}
