/* Make sure to hide your sprite! */
.hide {
	display: none;
}

/* Default colouration & size */
.easy-as-svg-icon {
	fill: $color__primary;
	height: 28px;
	width: 28px;
}


/* Jetpack social menus */
.jetpack-social-navigation a::before {
  display: none !important;
}

.jetpack-social-navigation li {
	margin-right: 5px !important; // Jetpack's fault.
}

.menu-social-container {
	li {
		display: inline-block;
	}
}

.jetpack-social-navigation a,
.widget .menu-social-container ul a {
	background: $color__primary;
	border-radius: 50%;
	display: inline-block;
	height: 40px !important;
	padding: 8px;
	width: 40px !important;

	svg {
		fill: $color__white;
		height: 24px;
		width: 24px;
	}

	&:hover {
		transform: scale(1.1);
	}

}

.jetpack-social-navigation,
.widget .menu-social-container ul {
	a[href*="wordpress.org"],
	a[href*="wordpress.com"] {
		background-color: $color__wordpress;
	}

	a[href*="facebook.com"] {
		background-color: $color__facebook;
	}

	a[href*="twitter.com"] {
		background-color: $color__twitter;
	}

	a[href*="dribbble.com"] {
		background-color: $color__dribbble;
	}

	a[href*="plus.google.com"] {
		background-color: $color__googleplus;
	}

	a[href*="pinterest.com"] {
		background-color: $color__pinterest;
	}

	a[href*="github.com"] {
		background-color: $color__github;
	}

	a[href*="tumblr.com"] {
		background-color: $color__tumblr;
	}

	a[href*="youtube.com"] {
		background-color: $color__youtube;
	}

	a[href*="flickr.com"] {
		background-color: $color__flickr;
	}

	a[href*="vimeo.com"] {
		background-color: $color__vimeo;
	}

	a[href*="instagram.com"] {
		background-color: $color__instagram;
	}

	a[href*="codepen.io"] {
		background-color: $color__codepen;
	}

	a[href*="linkedin.com"] {
		background-color: $color__linkedin;
	}
}
