a {
	color: $color__link;
	text-decoration: none;
	border-bottom: 2px solid $color__link;
	transition: background 200ms ease-in-out;

	&:hover,
	&:focus,
	&:active {
		background: $color__highlight;
		border-color: $color__accent;
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
