img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.wp-caption {
	margin: $size__site-gutter/2 0;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}
}

.wp-caption-text {
	@include font-size(0.85);
	border-bottom: 1px solid $color__neutral;
	margin: 0;
	padding: $size__site-gutter/2 0;
	text-align: left;
}


/* Ensure center-aligned captions center-align properly. */
.wp-caption.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

/* Give some padding to floated elements, to prevent them butting up against text. */
.wp-caption.alignleft {
	margin-right: $size__site-gutter;
}

.wp-caption.alignright {
	margin-left: $size__site-gutter;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
## Jetpack videos
--------------------------------------------------------------*/
.jetpack-video-wrapper {
	margin-bottom: $size__site-gutter !important; // I hate you, Jetpack.
}
