/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# Alignments
# Clearings
# Typography
# Forms
# Buttons
# Formatting
# Lists
# Tables
# Navigation
# Links
# Layout
	## Posts
	## Pages
# Comments
# Widgets
# Infinite scroll
# Media
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #332F25;
  font-family: museo-sans, "Museo Sans", sans-serif;
  font-weight: 300;
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  color: #7d735b;
  font-family: museo-sans-rounded, "Museo Sans Rounded", sans-serif;
  line-height: 1.2;
  margin: 2rem 0 0.25rem; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #729b65;
    border: none; }

h1 {
  font-size: 2.1rem;
  font-weight: 200; }

h2 {
  font-size: 1.8rem;
  font-weight: 300; }

h3 {
  font-size: 1.6rem;
  font-weight: 400; }

h4 {
  font-size: 1.4rem;
  font-weight: 400; }

h5 {
  font-size: 13.6px;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 1rem; }

h6 {
  font-size: 13.6px;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.script {
  font-family: spumante, sans-serif;
  font-size: 126%; }

p {
  margin: 20px 0; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #faf6f1;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #f9f0cc;
  text-decoration: none; }

big {
  font-size: 125%; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
/* Make sure to hide your sprite! */
.hide {
  display: none; }

/* Default colouration & size */
.easy-as-svg-icon {
  fill: #729b65;
  height: 28px;
  width: 28px; }

/* Jetpack social menus */
.jetpack-social-navigation a::before {
  display: none !important; }

.jetpack-social-navigation li {
  margin-right: 5px !important; }

.menu-social-container li {
  display: inline-block; }

.jetpack-social-navigation a,
.widget .menu-social-container ul a {
  background: #729b65;
  border-radius: 50%;
  display: inline-block;
  height: 40px !important;
  padding: 8px;
  width: 40px !important; }
  .jetpack-social-navigation a svg,
  .widget .menu-social-container ul a svg {
    fill: #faf6f1;
    height: 24px;
    width: 24px; }
  .jetpack-social-navigation a:hover,
  .widget .menu-social-container ul a:hover {
    transform: scale(1.1); }

.jetpack-social-navigation a[href*="wordpress.org"],
.jetpack-social-navigation a[href*="wordpress.com"],
.widget .menu-social-container ul a[href*="wordpress.org"],
.widget .menu-social-container ul a[href*="wordpress.com"] {
  background-color: #21759b; }

.jetpack-social-navigation a[href*="facebook.com"],
.widget .menu-social-container ul a[href*="facebook.com"] {
  background-color: #3b5998; }

.jetpack-social-navigation a[href*="twitter.com"],
.widget .menu-social-container ul a[href*="twitter.com"] {
  background-color: #55acee; }

.jetpack-social-navigation a[href*="dribbble.com"],
.widget .menu-social-container ul a[href*="dribbble.com"] {
  background-color: #ea4c89; }

.jetpack-social-navigation a[href*="plus.google.com"],
.widget .menu-social-container ul a[href*="plus.google.com"] {
  background-color: #dd4b39; }

.jetpack-social-navigation a[href*="pinterest.com"],
.widget .menu-social-container ul a[href*="pinterest.com"] {
  background-color: #cb2027; }

.jetpack-social-navigation a[href*="github.com"],
.widget .menu-social-container ul a[href*="github.com"] {
  background-color: #000000; }

.jetpack-social-navigation a[href*="tumblr.com"],
.widget .menu-social-container ul a[href*="tumblr.com"] {
  background-color: #32506d; }

.jetpack-social-navigation a[href*="youtube.com"],
.widget .menu-social-container ul a[href*="youtube.com"] {
  background-color: #bb0000; }

.jetpack-social-navigation a[href*="flickr.com"],
.widget .menu-social-container ul a[href*="flickr.com"] {
  background-color: #ff0084; }

.jetpack-social-navigation a[href*="vimeo.com"],
.widget .menu-social-container ul a[href*="vimeo.com"] {
  background-color: #aad450; }

.jetpack-social-navigation a[href*="instagram.com"],
.widget .menu-social-container ul a[href*="instagram.com"] {
  background-color: #e95950; }

.jetpack-social-navigation a[href*="codepen.io"],
.widget .menu-social-container ul a[href*="codepen.io"] {
  background-color: #000000; }

.jetpack-social-navigation a[href*="linkedin.com"],
.widget .menu-social-container ul a[href*="linkedin.com"] {
  background-color: #007bb5; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
label {
  font-size: 13.6px;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #7d735b; }

input[type="checkbox"] + label,
label.checkbox,
input[type="radio"] + label,
label.radio {
  text-transform: none;
  letter-spacing: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #332F25; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #7d735b;
  border: 1px solid #7d735b;
  border-radius: 0;
  font-size: 1em;
  width: 100%;
  max-width: 500px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #729b65;
    border-color: #729b65; }

select {
  border: 1px solid #332F25;
  padding: 8px;
  width: 100%;
  max-width: 500px; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 8px; }

textarea {
  padding: 8px;
  width: 100%; }

/* Styling specific to Gravity Forms */
.gform_body ul {
  margin: 0; }

.gform_body li {
  margin: 0; }

.gform_body li::before {
  display: none; }

.gfield {
  padding: 10px 0; }

input[type="radio"] + label {
  margin-left: 5px; }

.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container,
.gfield_visibility_hidden {
  display: none; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #edd672;
  border: 0;
  border-bottom: 4px solid #e7c945;
  border-radius: 5px;
  box-shadow: none;
  color: #514a3a;
  font-size: 16px;
  font-size: 1rem;
  font-family: museo-sans-rounded, "Museo Sans Rounded", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  padding: 0.7rem 2rem 0.6rem;
  text-decoration: none;
  text-shadow: 1px 1px rgba(249, 240, 204, 0.5);
  transition: all ease-in-out 50ms; }
  button:hover,
  .button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background-color: #e7c945;
    border-color: #ddb91c;
    color: #332F25;
    text-shadow: 1px 1px rgba(250, 246, 241, 0.5); }
  button:active, button:focus,
  .button:active,
  .button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    background-color: #edd672;
    border-color: #e7c945; }

.button {
  display: inline-block; }

button.secondary,
.button.secondary {
  background-color: #8eaf84;
  border-bottom-color: #729b65;
  text-shadow: 1px 1px #729b65; }
  button.secondary:hover,
  .button.secondary:hover {
    background-color: #729b65;
    border-color: #5b7c51;
    color: #5b7c51;
    text-shadow: 1px 1px rgba(250, 246, 241, 0.4); }

/*--------------------------------------------------------------
# Formattings
--------------------------------------------------------------*/
hr {
  background-color: #edd672;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul, ol {
  margin: 20px 0;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  margin-bottom: 0.75em; }

.entry-content ul li {
  list-style: none;
  position: relative; }

.entry-content ul li::before {
  content: '\2022';
  font-size: 0.75em;
  line-height: 2;
  position: absolute;
  right: 100.5%; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: #729b65;
  text-decoration: none;
  border-bottom: 2px solid #729b65;
  transition: background 200ms ease-in-out; }
  a:hover, a:focus, a:active {
    background: #f9f0cc;
    border-color: #edd672;
    color: #332F25; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 20px;
  /* Make sure select elements fit in widgets. */
  /* And make inputs span the full width. */ }
  .widget select {
    max-width: 100%; }
  .widget input {
    width: 100%; }
  .widget input[type=submit] {
    width: auto; }

.site-content .widget {
  margin-bottom: 40px; }

.site-content .widget-area .widget-title,
.error404 .page-content .widget-title,
.error404 .page-content .widgettitle {
  font-size: 13.6px;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 2px solid;
  margin: 20px 0;
  padding-bottom: 10px; }

.error404 .page-content .widget-title,
.error404 .page-content .widgettitle {
  margin-top: 80px; }

/* Search form */
.search-form {
  max-width: 400px;
  position: relative; }

.search-field {
  width: 100%; }

.search-submit {
  background: #7d735b;
  border: none;
  border-radius: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px; }
  .search-submit:hover {
    background-color: #729b65; }
  .search-submit .easy-as-svg-icon {
    fill: #faf6f1;
    height: 14px;
    width: 14px; }

/* Lists in widgets (pages, categories, comments, etc) */
.widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .widget ul li {
    margin: 0; }
  .widget ul a {
    border-bottom: 1px solid rgba(125, 115, 91, 0.25);
    display: block;
    padding: 10px 0; }
    .widget ul a:hover {
      background-color: rgba(125, 115, 91, 0.1); }
  .widget ul .sub-menu {
    margin-left: 1em;
    padding: 0; }

/* Archive widgets */
.widget_archive ul li,
.widget_categories ul li {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap; }
  .widget_archive ul li a,
  .widget_categories ul li a {
    border: none;
    order: 1; }
    .widget_archive ul li a:hover,
    .widget_categories ul li a:hover {
      background-color: transparent; }
  .widget_archive ul li::before,
  .widget_categories ul li::before {
    border-bottom: 1px dotted #332F25;
    content: "";
    flex-grow: 1;
    order: 2;
    margin: 0.25em 3px; }
  .widget_archive ul li .post-count,
  .widget_categories ul li .post-count {
    order: 3;
    padding-top: 0.5em; }
  .widget_archive ul li ul,
  .widget_categories ul li ul {
    order: 4;
    flex-grow: 0;
    flex-basis: 100%;
    margin-left: 1em; }

.widget_mc4wp_form_widget p {
  margin-bottom: 0; }

/* Tag cloud widget */
.widget_tag_cloud .tagcloud a {
  font-size: 13.6px;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid;
  background: #729b65;
  color: #faf6f1;
  font-size: 12px !important;
  padding: 5px 10px; }
  .widget_tag_cloud .tagcloud a:hover {
    background: #5b7c51; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

.wp-caption {
  margin: 10px 0;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.wp-caption-text {
  font-size: 13.6px;
  font-size: 0.85rem;
  border-bottom: 1px solid #7d735b;
  margin: 0;
  padding: 10px 0;
  text-align: left; }

/* Ensure center-aligned captions center-align properly. */
.wp-caption.aligncenter {
  margin-left: auto;
  margin-right: auto; }

/* Give some padding to floated elements, to prevent them butting up against text. */
.wp-caption.alignleft {
  margin-right: 20px; }

.wp-caption.alignright {
  margin-left: 20px; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
## Jetpack videos
--------------------------------------------------------------*/
.jetpack-video-wrapper {
  margin-bottom: 20px !important; }

body {
  background: #faf6f1;
  margin: 5px 20px; }
