.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Archive widgets */
.widget_archive,
.widget_categories {
	ul li {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;

		a {
			border: none;
			order: 1;

			&:hover {
				background-color: transparent;
			}
		}

		&::before {
			border-bottom: 1px dotted $color__text;
			content: "";
			flex-grow: 1;
			order: 2;
			margin: 0.25em 3px;
		} // :before

		.post-count {
			order: 3;
			padding-top: 0.5em;
		}

		ul {
			order: 4;
			flex-grow: 0;
			flex-basis: 100%;
			margin-left: 1em;
		}
	} // ul li
} // .widget_archive, .widget_categories
