.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	/* And make inputs span the full width. */
	input {
		width: 100%;
	}

  input[type=submit] {
    margin: 0 15%;
    width: 70%;
  }
}

/* Search form */
.search-form {
	position: relative;
}

.search-submit {
	background: $color__neutral;
	border: none;
	border-radius: 0;
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;

	.easy-as-svg-icon {
		fill: $color__white;
		height: 14px;
		width: 14px;
	}
}

/* Lists in widgets (pages, categories, comments, etc) */
.widget ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
		}

		a {
			border-bottom: 1px solid $color__highlight;
			display: block;
			padding: 10px 0;
			text-decoration: none;

			&:hover {
				background-color: $color__highlight;
				color: $color__text;
			}
		}

	.sub-menu {
		margin-left: 1em;
		padding: 0;
	}
} // .widget ul

/* Archive widgets */
.widget_archive,
.widget_categories {
	ul li {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;

		a {
			border: none;
			order: 1;

			&:hover {
				background-color: transparent;
			}
		}

		&::before {
			border-bottom: 1px dotted $color__text;
			content: "";
			flex-grow: 1;
			order: 2;
			margin: 0.25em 3px;
		} // :before

		.post-count {
			order: 3;
			padding-top: 0.5em;
		}

		ul {
			order: 4;
			flex-grow: 0;
			flex-basis: 100%;
			margin-left: 1em;
		}
	} // ul li
} // .widget_archive, .widget_categories

// Text widget
.widget_text {
  font-size: 1.2em;
}

// Tree-o-meter in a sidebar
.widget .justonetree-treeometer {
	//margin: 0 0 75px 50px;
}

// Mailchimp widget
.widget_mc4wp_form_widget {
  p {
    margin-bottom: 0;
  }
}
