/*
Style guide
*/
body {
  margin: 0; }

#title {
  background: #000;
  color: #fff;
  padding: 10px 20px; }
  #title h1 {
    font-family: "Hevetica Neue", Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    margin: 0 auto;
    max-width: 1024px; }
    #title h1 span {
      font-weight: bolder; }

#page {
  margin: 0 auto;
  max-width: 1024px;
  padding: 40px 0;
  overflow: auto; }

@media (min-width: 768px) {
  .patterns {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 420px; }
  .content {
    display: inline-block;
    padding-left: 40px;
    width: calc(100% - 465px); } }

.horizontal-logo #logo {
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  margin: 0 auto;
  max-width: 1024px;
  text-align: left; }
  .horizontal-logo #logo img {
    max-width: 600px; }

@media (min-width: 768px) {
  .horizontal-logo .patterns {
    width: 200px; }
  .horizontal-logo .color-swatch {
    height: 50px;
    margin-bottom: 0;
    width: 100%; }
  .horizontal-logo button {
    margin-top: 10px; }
  .horizontal-logo .content {
    width: calc(100% - 245px); } }

.swatches {
  margin: 0 auto; }

.color-swatch {
  display: inline-block;
  height: 75px;
  line-height: 1.2;
  margin: 0 -5px 20px 0;
  position: relative;
  vertical-align: top;
  width: 75px; }

.color-swatch .hex-code {
  display: block;
  font-family: "Hevetica Neue", Arial, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

.color-swatch .description {
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  font-size: 10pt;
  position: absolute;
  text-align: center; }

/* Mixin to output classes */
.color-text-main {
  background: #332F25; }
  .color-text-main .hex-code {
    color: #fff; }
    .color-text-main .hex-code::before {
      content: "#332F25"; }

.color-primary {
  background: #78b463; }
  .color-primary .hex-code {
    color: #fff; }
    .color-primary .hex-code::before {
      content: "#78b463"; }

.color-secondary {
  background: #96c585; }
  .color-secondary .hex-code {
    color: #fff; }
    .color-secondary .hex-code::before {
      content: "#96c585"; }

.color-tertiary {
  background: #5f9a4a; }
  .color-tertiary .hex-code {
    color: #fff; }
    .color-tertiary .hex-code::before {
      content: "#5f9a4a"; }

.color-accent {
  background: #F5D740; }
  .color-accent .hex-code {
    color: #000; }
    .color-accent .hex-code::before {
      content: "#F5D740"; }

.color-highlight {
  background: #faeba1; }
  .color-highlight .hex-code {
    color: #000; }
    .color-highlight .hex-code::before {
      content: "#faeba1"; }

.adjectives h3 {
  display: inline;
  color: #78b463;
  font-family: spumante, sans-serif;
  font-size: 2.1rem;
  padding-right: 0.2em; }

.adjectives h3:nth-of-type(odd) {
  color: #F5D740; }

#page {
  padding-top: 110px; }
